
@media screen and (min-width: 850px) {
    .container {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
    .deck {
        width: 750px;
        height: 750px;
    }

    .deck .card {
        width: 150px;
        min-height: 150px;
    }
    .score-panel {
        width: calc(100% - 10vw);
        margin-left: auto;
        margin-right: auto;
        font-size: 1.5vw;
        margin-bottom: 0.5vw;
    }

    .fa-star {
        font-size: 1.5vw;
    }
     h1 {
        font-size: 4vw;
    }
    .moves {
    font-size: 1.5vw;
    }
    .playAgain {
        font-size: 2vw;
    }
    
    .fa-trophy {
    font-size: 6vw;
    }
}
